<div class="grid">
    <div class="col-12 lg:col-12">
        <p-panel header="Liste des périodicités">
            <div class="grid" class="TexAlRight spaced">
                <div class="col-12 lg:col-12">
                    <p-button label="Ajouter" icon="pi pi-plus" (onClick)="showDialog(undefined)"></p-button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <p-table [value]="periodiciteList"
                             sortMode="multiple"
                             [paginator]="true"
                             [rows]="10"
                             [rowsPerPageOptions]="[5,10,20]"
                             styleClass="p-datatable-gridlines"
                             responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="ui-p-5">
                                    Catégorie
                                </th>
                                <th class="ui-p-5">
                                    S/S catégorie
                                </th>
                                <th class="ui-p-5" pSortableColumn="libelle">
                                    Opération
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                    <p-columnFilter type="text" field="libelle" display="menu"></p-columnFilter>
                                </th>
                                <th class="ui-p-5">
                                    S/S opération
                                </th>
                                <th class="ui-p-5" pSortableColumn="typeLigne">
                                    Type ligne
                                    <p-sortIcon field="typeLigne"></p-sortIcon>
                                </th>
                                <th class="ui-p-5" pSortableColumn="tension">
                                    Tension
                                    <p-sortIcon field="tension"></p-sortIcon>
                                </th>
                                <th class="ui-p-5" pSortableColumn="categorieMaintenance">
                                    Catégorie maintenance
                                    <p-sortIcon field="categorieMaintenance"></p-sortIcon>
                                </th>
                                <th class="ui-p-5" pSortableColumn="unit">
                                    Unité
                                    <p-sortIcon field="unit"></p-sortIcon>
                                </th>
                                <th class="ui-p-5" pSortableColumn="periode">
                                    Période
                                    <p-sortIcon field="periode"></p-sortIcon>
                                </th>
                                <th class="ui-p-5">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template let-periodicite pTemplate="body">
                            <tr>
                                <td>{{ periodicite.categorieOperation }}</td>
                                <td>{{ periodicite.sousCategorieOperation }}</td>
                                <td>{{ periodicite.libelle }}</td>
                                <td>{{ periodicite.sousOperation }}</td>
                                <td>{{ periodicite.typeLigne }}</td>
                                <td>{{ periodicite.tension }}</td>
                                <td>{{ periodicite.categorieMaintenance }}</td>
                                <td>{{ periodicite.unit }}</td>
                                <td>{{ periodicite.periode }}</td>
                                <td>
                                    <span class="p-buttonset">
                                        <button pButton icon="pi pi-pencil" class="p-button-info" (click)="showDialog(periodicite)"></button>
                                        <button pButton icon="pi pi-times" class="p-button-danger" (click)="onDelete(periodicite.id)"></button>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-panel>
    </div>
</div>

