<form [formGroup]="formPeriodicite">
    <div class="formgrid">
        <div class="col-12 lg:col-12">
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <p-panel header="Utilisateur">
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>List des caténaires</label>
                                    </span>
                                    <p-multiSelect
                                                [options]="catenaireList"
                                                formControlName="catenaires"
                                                optionLabel="libelle"
                                                placeholder="Sélectionner le profil"
                                                [panelStyle]="{minWidth:'14em'}"
                                                emptyFilterMessage="Aucune donnée trouvée.">
                                    </p-multiSelect>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Catégorie opération</label>
                                    </span>
                                    <input formControlName="categorieOperation" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Sous catégorie opération</label>
                                    </span>
                                    <input formControlName="sousCategorieOperation" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Opération</label>
                                    </span>
                                    <input formControlName="libelle" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Sous opération</label>
                                    </span>
                                    <input formControlName="sousOperation" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Type ligne</label>
                                    </span>
                                    <p-dropdown [options]="typeLigneList"
                                                formControlName="typeLigne"
                                                placeholder="Sélectionner le type de la ligne"
                                                [panelStyle]="{minWidth:'14em'}"
                                                emptyFilterMessage="Aucune donnée trouvée.">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Tension</label>
                                    </span>
                                    <p-dropdown [options]="tensionList"
                                                formControlName="tension"
                                                placeholder="Sélectionner le type de tension"
                                                [panelStyle]="{minWidth:'14em'}"
                                                emptyFilterMessage="Aucune donnée trouvée.">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Catégorie maintenance</label>
                                    </span>
                                    <p-dropdown [options]="categorieMaintenanceList"
                                                formControlName="categorieMaintenance"
                                                placeholder="Sélectionner le type de la catégorie de maintenance"
                                                [panelStyle]="{minWidth:'14em'}"
                                                emptyFilterMessage="Aucune donnée trouvée.">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Unité</label>
                                    </span>
                                    <p-dropdown [options]="uniteList"
                                                formControlName="unit"
                                                placeholder="Sélectionner l'unité"
                                                [panelStyle]="{minWidth:'14em'}"
                                                emptyFilterMessage="Aucune donnée trouvée.">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Période</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="periode"
                                            [showButtons]="true"
                                            [min]="1"
                                            [step]="1">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="grid" class="TexAlRight">
                            <p-button label="Sauvegarder"
                                      (onClick)="onSubmit()"
                                      [disabled]="!formPeriodicite.valid"></p-button>
                            <p-button label="Annuler"
                                      styleClass="p-button-secondary"
                                      (onClick)="cancel()"></p-button>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</form>
