<form [formGroup]="formPeriodicite">
    <div class="formgrid">
        <div class="col-12 lg:col-12">
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <p-panel header="Utilisateur">
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <label>Profil</label>
                                </span>
                                <p-dropdown [options]="catenaireList"
                                            formControlName="catenaires"
                                            optionLabel="libelle"
                                            placeholder="Selectionner le profil"
                                            [panelStyle]="{minWidth:'14em'}"
                                            emptyFilterMessage="Aucune donnée trouvée.">
                                </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Categorie operation</label>
                                    </span>
                                    <input formControlName="categorieOperation" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Sous categorie operation</label>
                                    </span>
                                    <input formControlName="sousCategorieOperation" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Operation</label>
                                    </span>
                                    <input formControlName="libelle" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Sous operation</label>
                                    </span>
                                    <input formControlName="sousOperation" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Type ligne</label>
                                    </span>
                                    <input formControlName="typeLigne" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Tension</label>
                                    </span>
                                    <input formControlName="tension" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Categorie maintenance</label>
                                    </span>
                                    <input formControlName="categorieMaintenance" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Unit</label>
                                    </span>
                                    <input formControlName="unit" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Periode</label>
                                    </span>
                                    <input formControlName="periode" pInputText placeholder="" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid" class="TexAlCenter">
                            <div>
                                <p-button label="Sauvegarder"
                                          (onClick)="onSubmit()"
                                          [style]="{'width': '100%'}"
                                          [disabled]="!formPeriodicite.valid"></p-button>
                            </div>
                            <div>
                                <p-button label="Annuler"
                                          styleClass="p-button-secondary"
                                          (onClick)="cancel()"
                                          [style]="{'width': '100%'}"></p-button>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</form>
<p-message key="global-messages"></p-message>
<p-message key="local-messages"></p-message>
<p-confirmDialog header="Confirmation"
                 acceptIcon=""
                 rejectIcon=""
                 rejectButtonStyleClass="p-button-light"
                 acceptLabel="Oui"
                 rejectLabel="Non">
</p-confirmDialog>
<p-toast key="top"></p-toast>
<p-toast key="bottom-right" position="bottom-right"></p-toast>
