<form [formGroup]="formCategorieMaintenance">
    <div class="formgrid">
        <div class="col-12 lg:col-12">
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <p-panel header="Catégorie">
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Type ligne</label>
                                    </span>
                                    <p-dropdown
                                            formControlName="typeLigne"
                                            [options]="typeLigneList"
                                            placeholder="Sélectionner le type ligne">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Panto min</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="pantoMin"
                                            [showButtons]="true"
                                            [min]="0">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Panto max</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="pantoMax"
                                            [showButtons]="true"
                                            [min]="0">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Vitesse min</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="vitesseMin"
                                            [showButtons]="true"
                                            [min]="-1">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Vitesse max</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="vitesseMax"
                                            [showButtons]="true"
                                            [min]="-1">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-10">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Categorie Maintenance</label>
                                    </span>
                                    <p-dropdown
                                            *ngIf="selecetCategorie"
                                            formControlName="categorieMaintenance"
                                            [options]="typeCategorieList"
                                            placeholder="Sélectionner le type de catégorie">
                                    </p-dropdown>
                                    <input *ngIf="!selecetCategorie"
                                           placeholder="Saisie la catégorie de la maintenance"
                                           formControlName="categorieMaintenance"
                                           type="text"
                                           pInputText>
                                </div>
                            </div>
                            <div class="col-12 lg:col-2">
                                <p-toggleButton iconPos="right" onIcon="pi pi-check" offIcon="pi pi-times"
                                                [style]="{'width':'100%'}" [(ngModel)]="selecetCategorie"
                                                pTooltip="Demander la saisie manuel de la catégorie de maintenance"
                                                tooltipPosition="right" [ngModelOptions]="{standalone: true}">
                                </p-toggleButton>
                            </div>
                        </div>
                        <div class="grid" class="TexAlRight">
                            <p-button label="Sauvegarder"
                                      (onClick)="onSubmit()"
                                      [disabled]="!formCategorieMaintenance.valid"></p-button>
                            <p-button label="Annuler"
                                      styleClass="p-button-secondary"
                                      (onClick)="cancel()"></p-button>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</form>
