<form [formGroup]="formCategorieMaintenance">
    <div class="formgrid">
        <div class="col-12 lg:col-12">
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <p-panel header="Catégorie">
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Type ligne</label>
                                    </span>
                                    <p-dropdown
                                            formControlName="typeLigne"
                                            [options]="typeLigneList"
                                            placeholder="Sélectionner le type ligne">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Panto min</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="pantoMin"
                                            [showButtons]="true"
                                            [min]="0">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Panto max</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="pantoMax"
                                            [showButtons]="true"
                                            [min]="0">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Vitesse min</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="vitesseMin"
                                            [showButtons]="true"
                                            [min]="0">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Vitesse max</label>
                                    </span>
                                    <p-inputNumber
                                            formControlName="vitesseMax"
                                            [showButtons]="true"
                                            [min]="0">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Categorie Maintenance</label>
                                    </span>
                                    <p-dropdown
                                            formControlName="categorieMaintenance"
                                            [options]="typeCategorieList"
                                            placeholder="Sélectionner le type de catégorie">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid" class="TexAlCenter">
                            <div>
                                <p-button label="Sauvegarder"
                                          (onClick)="onSubmit()"
                                          [style]="{'width': '100%'}"
                                          [disabled]="!formCategorieMaintenance.valid"></p-button>
                            </div>
                            <div>
                                <p-button label="Annuler"
                                          styleClass="p-button-secondary"
                                          (onClick)="cancel()"
                                          [style]="{'width': '100%'}"></p-button>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</form>
