<form [formGroup]="formUtilisateur">
    <div class="formgrid">
        <div class="col-12 lg:col-12">
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <p-panel header="Utilisateur">
                        <div class="grid">
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Nom</label>
                                    </span>
                                    <input formControlName="nom" pInputText placeholder="Nom" class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Prenom</label>
                                    </span>
                                    <input formControlName="prenom" pInputText placeholder="Prenom" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Identifiant SNCF</label>
                                    </span>
                                    <input formControlName="idSncf" pInputText placeholder="id SNCF" class="TexAlLeft">
                                </div>
                                <p-message severity="error" text="Cet identifiant existe déjà."
                                           *ngIf="utilisateur === undefined && formUtilisateur.get('idSncf').hasError('idExists')">
                                </p-message>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <label>Profil</label>
                                </span>
                                    <p-dropdown [options]="profilList"
                                                formControlName="profil"
                                                optionLabel="libelle"
                                                placeholder="Selectionner le profil"
                                                [panelStyle]="{minWidth:'14em'}"
                                                emptyFilterMessage="Aucune donnée trouvée.">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid" class="TexAlCenter">
                            <div>
                                <p-button label="Sauvegarder"
                                          (onClick)="onSubmit()"
                                          [style]="{'width': '100%'}"
                                          [disabled]="!formUtilisateur.valid"></p-button>
                            </div>
                            <div>
                                <p-button label="Annuler"
                                          styleClass="p-button-secondary"
                                          (onClick)="cancel()"
                                          [style]="{'width': '100%'}"></p-button>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</form>
