<form [formGroup]="formCatenaire">
    <div class="formgrid">
        <div class="col-12 lg:col-12">
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <p-panel header="caténaire">
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Libelle</label>
                                    </span>
                                    <input formControlName="libelle" pInputText placeholder="Libelle" class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 lg:col-12">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <label>Famille</label>
                                    </span>
                                    <p-dropdown [options]="familleCatenaireList"
                                                formControlName="familleCatenaire"
                                                optionLabel="libelle"
                                                optionValue="id"
                                                placeholder="Sélectionner la famille"
                                                [panelStyle]="{minWidth:'14em'}"
                                                emptyFilterMessage="Aucune donnée trouvée.">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid" class="TexAlRight">
                                <p-button label="Sauvegarder"
                                          (onClick)="onSubmit()"
                                          [disabled]="!formCatenaire.valid"></p-button>
                                <p-button label="Annuler"
                                          styleClass="p-button-secondary"
                                          (onClick)="cancel()"></p-button>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</form>
