<cd-pageTitle keyValue="pageTitle.analyse"></cd-pageTitle>
<div class="grid">
    <div class="col-12 lg:col-12">
        <form [formGroup]="formAnalyse">
            <div class="grid align-items-center">
                <div class="col-12 lg:col-12">
                    <p-panel header="MPS">
                        <div class="col-12 lg:col-12">
                            <p-panel header="SURV" styleClass="cd-secondary-bg">
                            </p-panel>
                        </div>
                        <div class="col-12 lg:col-12">
                            <p-panel header="ENTRETIEN" styleClass="cd-secondary-bg">
                            </p-panel>
                        </div>
                    </p-panel>
                </div>
                <div class="col-12 lg:col-12">
                    <p-panel header="MPC">

                    </p-panel>
                </div>
                <div class="col-12 lg:col-12">
                    <p-panel header="MC">
                    </p-panel>
                </div>
            </div>
        </form>
    </div>
</div>
