<cd-pageTitle keyValue="pageTitle.analyse"></cd-pageTitle>
<div class="grid">
    <form [formGroup]="formAnalyse">
        <div class="col-12 lg:col-12">
         <p-panel>
            <div class="grid">
                <div class="col-12 lg:col-12">
                    <div class="grid">
                        <div class="col-12 lg:col-1">
                            <span class="p-inputgroup-addon">
                                <label>RÉFÉRENCE</label>
                            </span>
                        </div>
                        <div class="col-12 lg:col-1">
                              <span class="p-inputgroup-addon">
                                  <label>CATÉGORIE</label>
                              </span>
                        </div>
                        <div class="col-12 lg:col-1">
                            <span class="p-inputgroup-addon">
                                <label>CATÉGORIE</label>
                            </span>
                        </div>
                        <div class="col-12 lg:col-3">
                              <span class="p-inputgroup-addon">
                                  <label>OPÉRATION</label>
                              </span>
                        </div>
                        <div class="col-12 lg:col-2">
                              <span class="p-inputgroup-addon">
                                  <label>SOUS OPÉRATION</label>
                              </span>
                        </div>
                        <div class="col-12 lg:col-1">
                            <span class="p-inputgroup-addon">
                                <label>UOP</label>
                            </span>
                        </div>
                        <div class="col-12 lg:col-1">
                              <span class="p-inputgroup-addon">
                                  <label>COUT</label>
                              </span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="grid" formArrayName="analyseArray">
                    <div class="col-12 lg:col-12" *ngFor="let signal of getControls(); let i = index">
                        <div class="grid" [formGroupName]="i">
                            <div class="col-12 lg:col-1">
                                <div class="p-inputgroup">
                                    <input readonly formControlName="refResult" pInputText class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-1">
                                <div class="p-inputgroup">
                                    <input readonly formControlName="categorie" pInputText class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-1">
                                <div class="p-inputgroup">
                                    <input readonly formControlName="sousCategorie" pInputText class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-3">
                                <div class="p-inputgroup">
                                    <input readonly formControlName="operation" pInputText class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-2">
                                <div class="p-inputgroup">
                                    <input readonly formControlName="sousOperation" pInputText class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-1">
                                <div class="p-inputgroup">
                                    <input readonlyformControlName="nbrUOP" pInputText class="TexAlLeft">
                                </div>
                            </div>
                            <div class="col-12 lg:col-1">
                                <div class="p-inputgroup">
                                    <input formControlName="cout" pInputText class="TexAlLeft">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </p-panel>
    </div>
    </form>
</div>
